/* Header styling similar to Avana Builds */
.header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

/* Logo adjustments */
.logo {
    height: 100px;
	transition: transform 0.6s ease, filter 0.3s ease;
}
.logo:hover {
    transform: scale(1.25); /* Slightly enlarge the logo on hover */
    
}

/* Centering nav links */
.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation links styling */
.nav-link {
    color: #852085 !important;
    font-size: 25px;
    font-weight: 600;
    
}

.nav-link:hover {
    color:  #fd851d!important;
	transition: background-color 0.8s ease, transform 0.2s ease;
    border-color: #45a049; /* Matching border color */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

/* Updated Button styling */
.btn-custom {

    background-color: #852085; /* Green background */
    border-color: #4CAF50; /* Matching border color */
    color: #ffffff; /* White text color */
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px; /* Rounded button edges */
    padding: 10px 20px; /* Padding for better spacing */
    transition: background-color 0.8s ease, transform 0.2s ease; /* Smooth transitions */
}

.btn-custom:hover {
    background-color: #fd851d; /* Darker green on hover */
    border-color: #45a049; /* Matching border color */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

/* Dropdown menu styling */
#rent-dropdown .dropdown-menu {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#rent-dropdown .dropdown-item {
    color: #333;
    transition: background-color 0.2s ease-in-out;
}

#rent-dropdown .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #007bff;
}
